doctype html
html
  include parts/layout.meta.jade
  body
    section
      h1
        header='There are '.count($Books).' Books available.'
    section
      each book, index in Books
        br
        h5
          a(href="/Book/".$book[Id])='Book '.($index+1).': '.$book[Name]
        each chapter in book.Chapters
          span='Chapter: '.$chapter[Name]
          br
    section
      p
      hr
      p Data Object from Server
      pre=__rawData          
  :php
    $dev = (PHP_SAPI == 'cli-server');
  if dev
    script(src="//localhost:35729/livereload.js")
    
